<h1 class="text-center">Simple Auction App</h1>

<div style="padding-top: 100px" ng-if="!activeUser" class="text-center container">
    <h4>Why don't you try logging in or registering for an account?</h4>
    <p>You may have to reload following a login.</p>
    <div style="margin-top: 60px">
        <button type="button" ui-sref="login" style="color : #b5a33f" class="btn">Log In Here</button>
    </div>
    <div style="margin-top: 60px">
        <button type="button" ui-sref="register" style="color : #b5a33f" class="btn">Register Here</button>
    </div>
</div>

<div style="padding-top: 100px" ng-if="activeUser" class="text-center container">
    <h4>Get started by navigating from the directory above.</h4>
    <p>You may have to reload.</p>
</div>
