<h1>Auction Management</h1>
<div style="margin-top : 50px" ng-if="myAuctions" class="container">
    <div ng-repeat="auction in myAuctions" class="row">
        <div class="panel panel-default">
            <div style="background-color: #b5a33f" class="panel-heading">{{ auction.auctionTitle }}</div>
            <div class="panel-body">
                <p>Current Bid: {{ auction.currentBid | currency }}</p>
                <p>Closing Date: {{ auction.auctionCloseDate | date }}</p>
            </div>
            <br>
            <div>
                <button ng-click="deleteAuction(auction._id)" class="btn btn-danger">Delete Auction</button>
            </div>
        </div>
    </div>
</div>

<div ng-if="myAuctions.length === 0" class="container">
    <div class="row">
        <h3>You do not have any auctions!</h3>
        <h4>Go ahead and create one.</h4>
    </div>
</div>