<h1>User Info</h1>
<div>
    <form ng-submit="submitEdits(userData)">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-4">
                <div class="form-group label-floating">
                    <label class="control-label">Email</label>
                    <input ng-model="userData.email" class="form-control" type="email" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-4">
                <div class="form-group label-floating">
                    <label class="control-label">Mailing Address</label>
                    <input ng-model="userData.mailingAddress" class="form-control" type="text" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-4">
                <div class="form-group label-floating">
                    <label class="control-label" >Enter Your Password to Confirm Edits</label>
                    <input ng-model="userData.password" class="form-control" type="password" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-4">
                <div class="form-group label-floating">
                    <button style="background-color : #b5a33f" class="btn btn-raised">Submit Edits</button>
                </div>
            </div>
        </div>
    </form>
</div>